.nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--nav-height);
  padding: 0 var(--spacing-small);
  background: linear-gradient(rgba(0,0,0,.5), transparent);
  width: 100%;
}

.nav > :not(:last-child) {
  margin-right: 16px;
}