.card {
  background: white;
  box-shadow: 0px 0px 42px 1px var(--main-color);
  padding: var(--spacing-med);
  border-radius: 4px;
}

.card > * {
  margin: 0;
}

.card > :not(:last-child) {
  margin-bottom: var(--spacing-small);
}
